:root {
  --dark-grey: rgb(86, 86, 86);
  --light-grey: rgb(160, 169, 201);
  --off-white: rgb(190, 201, 243);
  --bright-pink: rgb(227, 62, 144);
  --darker-pink: rgb(165, 44, 104);
  --light-violet: rgb(162, 145, 223);
  --dark-violet: rgb(35, 17, 67);
  --sky-blue: rgb(70, 106, 216);
  --ultramarine: rgb(27, 53, 133);
  --turquoise: turquoise;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Chocolate Classical Sans", sans-serif;
  color: white;
}

#root {
  /* max-width: 1280px; */
  min-height: 100%;
}

main {
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
min-height: 100vh;
}

button {
  background-color: var(--bright-pink);
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  color: var(--sky-blue);
}

button:hover {
  cursor: pointer;
}

.start {
  display: flex;
  min-height: 100vh;
}

.start-left {
  display: flex;
  flex-direction: column;
  section {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-left: 10rem;
    margin-top: 0;
    border: 2px solid white;
    max-width: 70%;
  }

}

.start-header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  gap: 1rem;
  img {
    height: 30%;
  }
  h1 {
  margin: 0;
  font-size: 5rem;
  }
}

.start-buttons {
  margin-top: 12rem;
  p {
    margin-top: 2rem;
    font-weight: bolder;
  }
  button:hover {
    box-shadow: 0 0 10px var(--ultramarine);
  }
  button:focus {
    color: var(--off-white);
  }
}

.chocolate-font {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 800;
  font-style:normal;
  color: white;
}

.header-box {
  background-color: black;
  hr {
  border: none;
  border-top: 2px solid white;
  width: 100%;
  margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  gap: 1rem;
  img {
    height: 10vh;
    width: auto;
  }
  h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: left;
    color: var(--bright-pink);
    margin: 0;
  }
}

.header-font {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--bright-pink);
  font-size: 3rem;
  margin-top: 0;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  li a {
    text-decoration: none;
    color: inherit;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-right: 2px solid white;
  }
    
  li:hover {
    color: var(--light-grey);
    font-weight: bolder;
  }
  li a:focus {
    color: var(--sky-blue);
    font-weight: bolder;
  }
}


.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 0.25rem 0.5rem;
    font-weight: bolder;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  input {
    background-color: var(--light-grey);
    border: none;
    border-radius: 9999px;
    box-shadow: 0 0 8px var(--powder-blue);
    padding: 0.5rem;
  }
  button:hover {
    box-shadow: 0 0 10px var(--ultramarine);
  }
  button:focus {
  color: var(--ultramarine);
}
}

.bottom-buttons {
  display: flex;
  gap: 1rem;
  button {
    background-color: var(--sky-blue);
    color: var(--bright-pink);
  }
  button:hover {
    box-shadow: 0 0 5px var(--bright-pink);
  }
  button:focus {
    
    color: var(--darker-pink);
  }
}

.all-games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  img {
  max-width: 320px;
  max-height: 180px;
  width: 100%;
  height: auto;
  object-fit: cover;
  }
}

.add-title {
  display: flex;
  gap: 3rem;
  
  button {
  margin-left: auto;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: var(--bright-pink);
  font-weight:bolder;
  font-size: 2rem;
  }
}

