:root {
  --dark-grey: rgb(40, 42, 52);
  --light-grey: rgb(138, 148, 183);
  --off-white: rgb(218, 226, 255);
  --bright-pink: rgb(227, 62, 144);
  --darker-pink: rgb(165, 44, 104);
  --sky-blue: rgb(70, 106, 216);
  --ultramarine: rgb(1, 31, 112);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Chocolate Classical Sans", sans-serif;
  color: white;
}

#root {
  min-height: 100%;
}

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;   
  padding: 0 2rem;
}

button {
  background-color: var(--bright-pink);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
}

button:hover {
  cursor: pointer;
}

.start-header {
  display: flex;
  align-items: flex-start;
  padding-left: 3rem;
  padding-top: 5rem;
  img {
    height: 15vh;
  }
  h1 {
  margin: 0;
  font-size: 5rem;
  }
}

.start {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.start-left {
  display: flex;
  flex-direction: column;
  p {
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: 5rem;
    border: 2px solid white;
    max-width: 70%;
  }

}

.start-buttons {
  margin-top: 2rem;
  p {
    margin-top: 2rem;
    font-weight: bolder;
  }
  button:hover {
    box-shadow: 0 0 10px var(--ultramarine);
  }
  button:focus {
    color: var(--off-white);
  }
}

.header-box {
  background-color: black;
}

 hr {
  border: none;
  border-top: 2px solid white;
  width: 100%;
  margin: 0;
  }

.header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  gap: 1rem;
  img {
    height: 8vh;
    width: auto;
  }
  h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: left;
    color: var(--bright-pink);
    margin: 0;
  }
}

.header-font {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--bright-pink);
  font-size: 2.5rem;
  margin-top: 0;
  padding: 2rem;
  text-align: center;
  span {
    color: rgb(255, 157, 0);
  }
}

.navbar {
  display: flex;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding-left: 1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  li a {
    text-decoration: none;
    color: inherit;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-right: 2px solid white;
  }
    
  li:hover {
    color: var(--light-grey);
    font-weight: bolder;
  }
  li a:focus {
    color: var(--sky-blue);
    font-weight: bolder;
  }
}

.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  p {
    padding: 0.25rem 0.5rem;
    font-weight: bolder;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  input {
    background-color: var(--off-white);
    outline: none; 
    border-radius: 2rem;
    box-shadow: 0 0 8px var(--sky-blue);
    padding: 0.5rem;
  }
  input:hover {
    box-shadow: 0 0 10px var(--bright-pink);
  }
  input:focus {
    background-color: white;
    border-color: var(--bright-pink);
  }
  button:hover {
    box-shadow: 0 0 10px var(--sky-blue);
  }
  button:focus {
  color: var(--ultramarine);
  }
}

.edit-page {
  margin-left: 10rem;
}

.edit-form {
  input {
    width: 10%;
  }
  textarea {
    width: 70%;
    background-color: var(--off-white);
    border-radius: 0.75rem;
    outline: none; 
    padding: 0.5rem;
    box-sizing: border-box;
    font: inherit;
    font-size: 0.90rem;
  }
  textarea:hover {
    box-shadow: 0 0 10px var(--bright-pink);
  }
  textarea:focus {
    background-color: white;
    border-color: var(--bright-pink);
  }
}

.bottom-buttons-login {
  display: flex;
  gap: 1rem;
  button {
    color: var(--bright-pink);
    background-color: var(--sky-blue);
  }
}

.bottom-buttons-signup {
  display: flex;
  gap: 1rem;
  align-items: center;
  button {
    color: var(--bright-pink);
    background-color: var(--sky-blue);
  }
}

.all-games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.browse-bars {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1rem;

}

.search-bar {
  border-radius: 2rem;
  font: inherit;
  background-color: var(--off-white);
  outline: none;
  padding: 0.5rem;
}
  .search-bar:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--bright-pink);
  }

  .search-bar:focus {
    border-color: var(--bright-pink);
    background-color: white;
  }


.game-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--dark-grey);
  color: white;
  border: 3px solid white;
  img {
  max-width: 300px;
  max-height: 180px;
  object-fit: cover;
  }
  h3 {
    color: white;
    font-weight:bolder;
  }
}

.details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-buttons {
  display: flex;
  gap: 2rem;
  margin: 2rem 4rem; 
  padding: 2rem;
}

.image-buttons-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.game-info {
  background-color: var(--dark-grey);
  margin: 0 4rem; 
  padding: 2rem;
  border: 2px solid white;
  width: 50%;
  h3 {
    color: var(--light-grey);
    padding-top: 0.5rem;
  }
  span {
    color: var(--sky-blue);
  }
  img {
    width: 3vw;
  }
  section {
    padding-top: 1rem;
  }
}

.stars {
  color: var(--bright-pink) !important;
}

.select {
  border-radius: 2rem;
  font: inherit;
  font-size: 0.85rem;
  padding: 0.5rem;
  background-color: var(--off-white);
}
.select:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--bright-pink);
  background-color: white;
}

.select:focus {
  border-color: var(--bright-pink);
}

.my-games {
  display: flex;
  align-items: flex-start; 
}

.filter-column {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 2px solid white;
  padding: 1rem 2rem;
  margin-right: 2rem;
  gap: 1rem;
  min-width: 15%;
  h3 {
    margin-bottom: 0;
  }
}

.add-game {
  display: flex;
  gap: 3rem;
  
  button {
  margin-left: auto;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: var(--bright-pink);
  font-size: 1.5rem;
  }
}

.edit {
  height: 0.25rem;
  width: auto;
}

.__edit__ {
  color: var(--sky-blue);
}

.__delete__ {
  color: var(--bright-pink);
}

.error-header {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: auto;
    height: 15vh;
    margin-top: 2rem;
  }
  h1 {
    font-size: 5rem;
    margin-bottom: 0; 
    padding-bottom: 0;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
  }
}

footer {
  margin-top: 2rem;
  gap: 2rem;
  padding: 0.5rem;
  justify-content: center;
  border: 2px solid white;
  a {
    text-decoration: none;
    color: inherit;     
    }
 a:hover {
    color: var(--light-grey);
    font-weight: bolder;
    }
}



/* for reference */

/* title font */
.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* regular font */
.chocolate-font {
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 800;
  font-style:normal;
  color: white;
}



/* styles for unfinished star rating component */

/* .star {
  cursor: pointer;
  color: var(--light-grey);
}

.star-active {
  color: var(--bright-pink);
} */


/* figure this out: */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */